<h1>Tu búsqueda: <small>{{ palabrasBusqueda }}</small></h1>
<hr>
<div class="row">
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" [src]="consolasMongo.imagen" [alt]="consolasMongo.nombre">
    <div class="card-body">
      <h5 class="card-title">{{consolasMongo.nombre}}</h5>
      <p class="card-text">{{consolasMongo.ficha_tecnica}}</p>
  <!-- Utilizamos '/infoconsola' en lugar de 'infoconsola' para evitar que en el
  archivo 'app.routes.ts' se tenga que declarar como 'consolas/infoconsola/:id' de
  tal forma que la URL quedaría como http://localhost:4200/infoconsola/0 -->
      <a [routerLink]="['/infoconsola',consolasMongo._id]" class="btn btn-primary">Información</a>
    </div>
  </div>
</div>
