<h1>Juegos</h1>
<hr>
<div class="row">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.contrareplica.mx/uploads/2019/04/25/normal/3a2c717354ea8258c2e7671ba45b01fa.jpg" alt="PC Master Race">
        <div class="card-body">
        <h5 class="card-title">Madden20</h5>
        <p class="card-text">Sports</p>
        <a [routerLink]="['madden']" class="btn btn-primary">Información</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://static-ca.ebgames.ca/images/products/725283/3max.jpg" alt="Playstation 4">
        <div class="card-body">
        <h5 class="card-title">Spiderman</h5>
        <p class="card-text">Adventure</p>
        <a [routerLink]="['spiderman']" class="btn btn-primary">Información</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/91C8piUiI0L._SX679_.jpg" alt="Xbox One">
        <div class="card-body">
        <h5 class="card-title">Red Dead Redemption</h5>
        <p class="card-text">Adventure</p>
        <a [routerLink]="['reddeadredemption']" class="btn btn-primary">Información</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        
        <div class="card-body">

        </div>
        </div>
        </div>

